<nav aria-label="breadcrumb">

</nav>
<div class="container">

  <div class="card add-car">

      <div class="card-body">
          <form id="add-form" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="model">Cep</label>
                <input type="text" [(ngModel)]="endereco.cep" id="model" name="model" #model="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" placeholder="Digite o cep">
                <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                    <div *ngIf="model.errors.required">Cep é obrigatório</div>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-sm" (click)="insertEndereco(Endereco)">Insere Db</button>


             <button type="button" class="btn btn-warning btn-sm" (click)="getEnderecosApi(endereco)">Consulta Ws</button>

            <button type="button" class="btn btn-primary  btn-sm" (click)="getEnderecos(Endereco.cep)">Consulta Db</button>



          </form>
         

      </div>
    </div>
</div>
